

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #061e76, #6516b5);
}

.profile-card {
    width: 360px;
    background: white;
    padding: 30px 35px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #6f8efb;
    object-fit: cover;
    margin-top: -80px;
    background: white;
}


.profile-card h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #222;
}


.description {
    color: #666;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 10px;
}


.divider {
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.08);
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.btn {
    padding: 8px 18px;
    border-radius: 8px;
    border: 2px solid #1740d3;
    color: #052495;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0b34ca;
    color: white;
    transform: translateY(-3px);
}